@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  --grey: hsl(0, 0%, 52%);
  --black: hsl(240, 6%, 13%);
  --black-main: hsl(240, 5%, 7%)

  height: 100vh;
  font-family: 'Roboto', sans-serif, Helvetica;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  font-size: 1.6px;
}

main {
  background: url(images/desktop.svg) no-repeat center/cover #121214;
  width: 100vw;
  min-height: 81.2rem;
  height: 100vh;
  
}


.container {
  margin: 0 auto;
  text-align: center;
  color: var(--grey);

  position: relative;
}

.avatar {
  margin: 11rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: 9rem;
  z-index: 1;
}

/* Pegar imagem do primeiro nível (>)*/
.avatar > img {
  width: 16rem;
  height: 18.4rem;
  margin: 11rem auto 0;
  object-fit: cover;

  /* Formatar um poligono (css clip-path maker*/
  clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
}

a {
  color: var(--grey);
  text-decoration: none;

  margin: 0.25rem auto 0;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
  align-items: center;

  font-size: 1.6rem;
}

h1 {
  font-size: 2.4rem;

  margin: 1.5rem auto 0;
}

p {
  margin: 2rem auto 0;

  font-size: 1.4rem;
}

ul {
  margin: 4rem auto 0;

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem; /* Espaço entre o flex*/

  justify-content: center; /* Alinhar conteúdo ao centro*/
}


.faixa > img{
  position: absolute;
  top: -11rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.faixa span{
  width: 8rem;
  height: 0.8rem;
  position: absolute;
  left: 50%;
  top: 4.5rem;
  transform: translateX(-50%);
  background-color: var(--black);
}

@media screen and (min-width: 1439px) { 
.content{
    background: url(images/vetor.svg) no-repeat #202024;
  
    width: 35.8rem;
    height: 54.0rem;
    
    margin: 0 auto;
  }
}

@media screen and (max-width: 1440px) and (min-width: 699px) { 

  .content{
    background: url(images/vetor.svg) no-repeat #202024;
  
    width: 35.8rem;
    height: 54.0rem;
    
    margin: 0 auto;
  }
  
}

@media screen and (max-width: 720px) and (min-width: 481px){ 

  .content{
    background: url(images/vetor.svg) no-repeat #202024;
  
    width: 35.8rem;
    height: 54.0rem;
    
    margin: 0 auto;
  }
}

/*MOBILE*/
@media screen and (max-width: 480px) and (min-width:320px){
  main {
    /*Adaptação para todos dispositivos móveis*/
    background: url(images/background.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 81.2rem;
    height: 100vh;
  }

  .faixa{
    display: none;
  }
}
